adfbyexample-rf/pipeline/ImportSTFormatFile_Divert.json
{
	"name": "ImportSTFormatFile_Divert",
	"properties": {
		"description": "Import Sweet Treats Sales Audit",
		"activities": [
			{
				"name": "Import Sales Data",
				"description": "Import Sweet Treat Sales Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "RunSeqNo",
								"value": {
									"value": "@variables('RunSeqNo')",
									"type": "Expression"
								}
							},
							{
								"name": "CreatedDate",
								"value": {
									"value": "@formatDateTime(pipeline().TriggerTime)",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "\n",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "virtualcodestoreexamplesa",
								"type": "LinkedServiceReference"
							},
							"path": "output/errors"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Container": "sampledata",
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.File",
								"type": "Expression"
							},
							"LinkedServiceConnectionSecret": "StorageAccountConnectionString"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Rows Exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import Sales Data').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import Sales Data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import Sales Data').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": {
								"value": "@if(equals(activity('Import Sales Data').output.executionDetails[0].status,'Failed'),'Failed','Done')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AdfByExample",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup RunSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@concat('Pipeline ',pipeline().Pipeline, \n        ' executed in ',pipeline().DataFactory,\n\t\t'loading file',pipeline().parameters.Directory,'/',pipeline().parameters.File)",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set RunSeqNo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqNo",
					"value": {
						"value": "@string(activity('Lookup RunSeqNo').output.firstRow.runSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Rows Exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Persist Loaded Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Import Sales Data').output.rowsSkipped,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "errors/copyactivity-logs/Import Sales Data",
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ABS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Container": "output",
										"Directory": ".",
										"File": ".",
										"LinkedServiceConnectionSecret": "StorageAccountConnectionString",
										"EscapeCharacter": "\\"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_LoadingError",
									"type": "DatasetReference",
									"parameters": {
										"Db_Schema": "dbo",
										"Db_Name": "LoadingError"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Persist Loaded Sales",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import Sales Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PersistLoadedSales]",
					"storedProcedureParameters": {
						"runSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AdfByExample",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Directory": {
				"type": "string",
				"defaultValue": "azure-data-factory-by-example-main/SampleData/NaughtyButNice"
			},
			"File": {
				"type": "string",
				"defaultValue": "NBN-202006.csv"
			}
		},
		"variables": {
			"RunSeqNo": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "Chapter6"
		},
		"annotations": []
	}
}